In [7]:
import pandas as pd

In [8]:
from cleaning_second_half import clean_all_second_half
from cleaning_first_half import clean_all_first_half, load_data_or_legend
from join_years import load_all_years, death_life

df_1 = clean_all_first_half()
df_2 = clean_all_second_half()
df = load_all_years()

In [10]:
result = set()
for elem in df.crime:
    result.add(len(elem))
result

{1, 2, 3}

In [4]:
result = set()
for idx, row in df.iterrows():
    for elem in row['crime']:
        result.add(elem)
result

{'Abortion',
 'Administering Poison',
 'Arson',
 'Assault',
 'Assault to Ravish',
 'Assault w/ Intent to Kill',
 'Assault w/ Intent to Murder',
 'Assault w/ Intent to Rape',
 'Assault w/ Intent to Rob',
 'Assisting to Kill',
 'Assisting to Murder',
 'Attempt to Rob',
 'Attempted Arson',
 'Attempted Murder',
 'Attempted Robbery',
 'Bigamy',
 'Buggary',
 'Burglary',
 'Cheat',
 'Confidence Games',
 'Conspiracy',
 'Conspiring to Murder',
 'Counterfeiting',
 'Crime Against Nature',
 'Defacing Brands',
 'Effacing and Defacing Brands',
 'Embezzlement',
 'False Imp',
 'False Pretenses',
 'Felonious Assault',
 'Felony',
 'Felony, Branding Stock',
 'Forgery',
 'Grand Larceny',
 'Having Burgular Tools',
 'Having Ficticious Checks',
 'Having Tools with Intent to Commit Burglary',
 'Having Tools with Intent to Enter Building',
 'Illegal Voting',
 'Incest',
 'Kidnapping',
 'Killing Cattle',
 'Killing Stock',
 'Larceny',
 'Larceny as Bailee',
 'Larceny from Person',
 'Malicious Mischief',
 'Maliciously Destroying Check',
 'Manslaughter',
 'Mayhem',
 'Murder',
 'Obstructing of Railroad Track',
 'Perjury',
 'Rape',
 'Receiving Stolen Goods',
 'Rescue of Prisoner',
 'Robbery',
 'Sodomy',
 'Stealing / Killing Cattle',
 'Stealing Stock',
 'Train Wrecking',
 'Using Instruments with Intent to Commit Abortion',
 'Uttering',
 'Uttering Forgery',
 'Voluntary Manslaughter'}

### Columns to look at:
term
nativity
crime
race

In [11]:
result = set()
for idx, row in df.iterrows():
    lst = row['term']
    for elem in lst:
        result.add(elem)
result

{0.17,
 0.25,
 0.33,
 0.5,
 0.83,
 1.0,
 1.04,
 1.08,
 1.17,
 1.25,
 1.33,
 1.5,
 1.58,
 1.6,
 1.66,
 1.67,
 1.75,
 10.0,
 10.5,
 11.0,
 11.08,
 12.0,
 13.0,
 13.5,
 14.0,
 15.0,
 16.0,
 18.0,
 2.0,
 2.25,
 2.33,
 2.42,
 2.5,
 2.6,
 2.75,
 2.83,
 20.0,
 21.0,
 24.0,
 25.0,
 26.0,
 28.0,
 3.0,
 3.125,
 3.25,
 3.5,
 3.67,
 3.75,
 3.83,
 30.0,
 33.0,
 37.0,
 4.0,
 4.17,
 4.25,
 4.5,
 4.66,
 4.67,
 4.75,
 40.0,
 45.0,
 5.0,
 5.08,
 5.17,
 5.5,
 6.0,
 6.5,
 6.66,
 6.67,
 7.0,
 7.08,
 7.5,
 8.0,
 8.25,
 8.5,
 9.0,
 9.25,
 9.5,
 9.67,
 99.0,
 '?',
 'Death',
 'Life'}

In [13]:
df.max_term.unique()

array([4.5, 1.5, 'Life', 8.0, 3.0, 10.0, 2.0, 5.0, 6.0, 2.5, 1.0, 4.0,
       15.0, 7.0, 1.33, 3.5, 2.75, 2.33, 1.25, 16.0, 6.5, 14.0, 5.5, 1.66,
       1.17, 0.33, 4.75, 6.66, 1.08, 4.66, 1.75, 37.0, 20.0, 9.0, 12.0,
       2.25, 21.0, 6.67, 8.5, 4.67, 3.67, 3.125, 9.5, '?', 13.0, 33.0,
       25.0, 40.0, 4.17, 8.25, 'Death', 1.67, 7.5, 9.25, 11.0, 1.6, 0.83,
       2.6, 0.25, 2.42, 0.17, 7.08, 26.0, 24.0, 4.25, 13.5, 30.0, 10.5,
       3.75, 18.0, 99.0, 28.0, 11.08, 45.0, 1.04], dtype=object)

In [12]:
legend = load_data_or_legend(False)
states = list(legend['State Names'].dropna())
states

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Puerto Rico',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Virgin Islands',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

In [11]:
df_total = pd.concat([df_1, df_2])
df_total.info()

array(['Massachusetts', 'District of Columbia', 'Pennsylvania', 'Canada',
       'California', 'Italy', 'Kentucky', 'England', 'Ohio', 'Iowa',
       'New York', 'Missouri', 'Maryland', 'Illinois', 'Wisconsin',
       'Ireland', 'Germany', 'France', 'Louisiana', 'Indiana', 'Michigan',
       'Minnesota', 'Alabama', 'Virginia', 'Austria', 'New Mexico',
       'Mexico', 'Kansas', 'Georgia', 'Indian Territory', 'Texas',
       'Prussia', 'North Carolina', 'Isle of Man', 'Nebraska',
       'Tennessee', 'Saxony', 'Vermont', 'South Carolina', 'Maine',
       'Mississippi', 'New Jersey', 'Nova Scotia', 'Bohemia',
       'Connecticut', 'Rhode Island', 'Colorado', 'West Virginia',
       'Russia', 'Scotland', 'Switzerland', 'Cuba', 'Australia', 'Utah',
       'Sweden', 'Florida', 'Norway', 'Arkansas', 'Arizona',
       "Prince Edward's Island", 'Wyoming', 'Oregon', 'New Hampshire',
       'Hungary', 'China', 'Denmark', 'Alsace', 'Wales', 'Alaska',
       'Montana', 'Poland', 'Delaware', 'On the Sea', 'East Indies'],
      dtype=object)

In [13]:
df_1.clean_race.unique()

array(['White', 'Mexican', 'Black', 'Mulatto', 'Indian', 'Mongolian'],
      dtype=object)

In [14]:
mex_df = df_1[df_1['clean_race']=='Indian Territory']

In [20]:
mex_df.clean_nativity.value_counts()

New Mexico    22
Colorado       8
Mexico         2
Arizona        1
Ireland        1
California     1
Name: clean_nativity, dtype: int64

In [21]:
len(mex_df)

35

In [ ]:
'Cheat',
'Confidence Games',
'Conspiracy',
'Counterfeiting',
'Embezzlement',
'False Imp',
'False Pretenses',
'Forgery',
'Having Ficticious Checks',
'Illegal Voting',
'Killing Cattle',
'Killing Stock',
'Maliciously Destroying Check',
'Perjury',
'Rescue of Prisoner',
'Uttering',
'Uttering Forgery',