In [1]:
import pandas

In [2]:
from cleaning_second_half import clean_all_second_half
from cleaning_first_half import clean_all_first_half, load_data_or_legend

df_1 = clean_all_first_half()
df_2 = clean_all_second_half()

In [3]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1455 entries, 0 to 1454
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 145 non-null    float64
 1   Term                1455 non-null   object
 2   Crime               1455 non-null   object
 3   Nativity            1455 non-null   object
 4   Race                1455 non-null   object
 5   Page                482 non-null    float64
 6   File                1454 non-null   float64
 7   Year                1455 non-null   int64
 8   term_clean          1455 non-null   object
 9   crime_clean         1455 non-null   object
 10  clean_nativity      1455 non-null   object
 11  clean_race          1455 non-null   object
 12  race_adjusted       1455 non-null   object
 13  nativity_no_states  1455 non-null   object
dtypes: float64(3), int64(1), object(10)
memory usage: 159.3+ KB

In [4]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1613 entries, 0 to 1612
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Term               1613 non-null   object
 1   Crime              1613 non-null   object
 2   Nationality        1613 non-null   object
 3   File               1613 non-null   int64
 4   Year               1613 non-null   int64
 5   term_clean         1613 non-null   object
 6   crime_clean        1613 non-null   object
 7   clean_nationality  1613 non-null   object
 8   race               1613 non-null   object
dtypes: int64(2), object(7)
memory usage: 113.5+ KB

In [6]:
df_total = pd.concat([df_1, df_2])

array(['United States', 'Ireland', 'Black', 'Sweden', 'Germany', 'France',
       'Bohemia', 'Scotland', 'Mexican', 'England', 'Canada', 'Italy',
       'Austria', 'Prussia', 'Hungary', '?', 'Swiss', 'China', 'Denmark',
       'Wales', "Prince Edward's Island", 'Cuba', 'Australia',
       'Isle of Man', 'Russia', 'Spanish', 'Japan'], dtype=object)

In [22]:
df_1.clean_nativity.unique()

array(['Massachusetts', 'District of Columbia', 'Pennsylvania', 'Canada',
       'California', 'Italy', 'Kentucky', 'England', 'Ohio', 'Iowa',
       'New York', 'Missouri', 'Maryland', 'Illinois', 'Wisconsin',
       'Ireland', 'Germany', 'France', 'Louisiana', 'Indiana', 'Michigan',
       'Minnesota', 'Alabama', 'Virginia', 'Austria', 'New Mexico',
       'Mexico', 'Kansas', 'Georgia', 'Indian Territory', 'Texas',
       'Prussia', 'North Carolina', 'Isle of Man', 'Nebraska',
       'Tennessee', 'Saxony', 'Vermont', 'South Carolina', 'Maine',
       'Mississippi', 'New Jersey', 'Nova Scotia', 'Bohemia',
       'Connecticut', 'Rhode Island', 'Colorado', 'West Virginia',
       'Russia', 'Scotland', 'Switzerland', 'Cuba', 'Australia', 'Utah',
       'Sweden', 'Florida', 'Norway', 'Arkansas', 'Arizona',
       "Prince Edward's Island", 'Wyoming', 'Oregon', 'New Hampshire',
       'Hungary', 'China', 'Denmark', 'Alsace', 'Wales', 'Alaska',
       'Montana', 'Poland', 'Delaware', 'On the Sea', 'East Indies'],
      dtype=object)

In [12]:
legend = load_data_or_legend(False)
states = list(legend['State Names'].dropna())
states

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Puerto Rico',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Virgin Islands',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

array(['Massachusetts', 'District of Columbia', 'Pennsylvania', 'Canada',
       'California', 'Italy', 'Kentucky', 'England', 'Ohio', 'Iowa',
       'New York', 'Missouri', 'Maryland', 'Illinois', 'Wisconsin',
       'Ireland', 'Germany', 'France', 'Louisiana', 'Indiana', 'Michigan',
       'Minnesota', 'Alabama', 'Virginia', 'Austria', 'New Mexico',
       'Mexico', 'Kansas', 'Georgia', 'Indian Territory', 'Texas',
       'Prussia', 'North Carolina', 'Isle of Man', 'Nebraska',
       'Tennessee', 'Saxony', 'Vermont', 'South Carolina', 'Maine',
       'Mississippi', 'New Jersey', 'Nova Scotia', 'Bohemia',
       'Connecticut', 'Rhode Island', 'Colorado', 'West Virginia',
       'Russia', 'Scotland', 'Switzerland', 'Cuba', 'Australia', 'Utah',
       'Sweden', 'Florida', 'Norway', 'Arkansas', 'Arizona',
       "Prince Edward's Island", 'Wyoming', 'Oregon', 'New Hampshire',
       'Hungary', 'China', 'Denmark', 'Alsace', 'Wales', 'Alaska',
       'Montana', 'Poland', 'Delaware', 'On the Sea', 'East Indies'],
      dtype=object)

In [13]:
df_1.clean_race.unique()

array(['White', 'Mexican', 'Black', 'Mulatto', 'Indian', 'Mongolian'],
      dtype=object)

In [14]:
mex_df = df_1[df_1['clean_race']=='Indian Territory']

In [20]:
mex_df.clean_nativity.value_counts()

New Mexico    22
Colorado       8
Mexico         2
Arizona        1
Ireland        1
California     1
Name: clean_nativity, dtype: int64

In [21]:
len(mex_df)

35